.article{
	font-size: 16px;
	line-height: 18px;
	margin: 26px 0 10px;
	// border: 1px solid $main-color;
	&__heading{
		margin: 0;
		color: #fff;
		display: block;
		line-height: 1;
		font-size: 24px;
		margin: 0 0 22px;
		border-radius: 8px;
		text-align: center;
		padding: 10px 20px 6px;
		background: $main-color;
		@include breakpoint($mobile-small) {
			font-size: 18px;
		}
		&--align-left{
			text-align: left;
		}
		a{
			display: block;
			padding: 10px 20px 6px;
			margin: -10px -20px -6px;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	&__content{
		padding: 0 0 5px;
		position: relative;
		.games-list{
			 li{
			 	width: 12.5%;
			 	@include breakpoint($mobile) {
			 		width: 25%;
			 	}
			 	@include breakpoint($mobile-small) {
			 		width: 33.3%;
			 	}
			 }
		}
	}
	ol{
		padding: 0;
		list-style: none;
		margin: 0 5px 6px;
		counter-reset: counter;
		> li{
			counter-increment: counter;
			&:before{
				content: counter(counter) '. ';
			}
		}
	}
	.more{
		padding: 0 0 5px;
		text-align: right;
		a{
			color: $main-color;
			vertical-align: top;
			display: inline-block;
			text-decoration: underline;
			&:after{
				content: '>>';
				margin: 0 0 0 4px;
			}
			&:hover{
				text-decoration: none;
			}
		}
	}
	.tags-list{
		padding: 0;
	}
}

.col-row{
	.article{
		&__content{
			.games-list{
				 li{
				 	@include rem($mobile) {
					 	width: 25%;
				 	}
				 }
			}
		}
	}
}

.clear + .article{
	padding-top: 22px;
}