{% if objects %}
    <div class="games-list-holder special">
        <strong class="h2">{{ title }}</strong>
        <ul class="games-list">
            {% for obj in objects %}
                {% include 'catalog/inclusions/_include_game_list.html' %}
            {% endfor %}
        </ul>
    </div>
{% endif %}