{% load i18n static catalog_tags %}

{% get_current_language as LANGUAGE_CODE %}

{% with LANGUAGE_CODE|length|add:1|stringformat:" la:" as sl %}
    <div class="lang-select">
        <span class="current"><img src="{% static 'catalog/img/blank.png' %}" class="flag flag-{{ languages_processed_dict|get_item:LANGUAGE_CODE }}" alt="{{ LANGUAGE_CODE }}" /> <span class="current-lang">{{ LANGUAGE_CODE|language_name_local }}</span></span>
        <div class="drop">
            <ul>
                {% for language in languages_processed %}
                    {% if not LANGUAGE_CODE == 'en' %}
                        <li><a href="{% if not language.slug == 'en' %}/{{ language.slug }}{% endif %}{{ request.get_full_path|slice:sl }}"><img src="{% static 'catalog/img/blank.png' %}" class="flag flag-{{ language.country_code }}" alt="{{ language.slug }}" /> {{ language.slug|language_name_local }}</a></li>
                    {% else %}
                        <li><a href="{% if not language.slug == 'en' %}/{{ language.slug }}{% endif %}{{ request.get_full_path }}"><img src="{% static 'catalog/img/blank.png' %}" class="flag flag-{{ language.country_code }}" alt="{{ language.slug }}" /> {{ language.slug|language_name_local }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endwith %}