@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro-Regular.otf')  format('opentype'),
		 url('../fonts/MyriadPro-Regular.woff') format('woff'),
		 url('../fonts/MyriadPro-Regular.ttf')  format('truetype'),
		 url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro-It.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro-It.otf')  format('opentype'),
		 url('../fonts/MyriadPro-It.woff') format('woff'),
		 url('../fonts/MyriadPro-It.ttf')  format('truetype'),
		 url('../fonts/MyriadPro-It.svg#MyriadPro-It') format('svg');
	font-display: swap;
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro-Bold.otf')  format('opentype'),
		 url('../fonts/MyriadPro-Bold.woff') format('woff'),
		 url('../fonts/MyriadPro-Bold.ttf')  format('truetype'),
		 url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
	font-display: swap;
	font-weight: bold;
	font-style: normal;
}
