{% extends 'catalog/base.html' %}

{% load static i18n l10n catalog_tags thumbnail el_pagination_tags %}

{% block og_scheme %}
    {% get_current_language as LANGUAGE_CODE %}
    {% with languages_processed_locales|get_item:LANGUAGE_CODE as loc %}
        <meta property="og:locale" content="{{ loc }}" />
    {% endwith %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{% building_meta 'title' object settings %}" />
    <meta property="og:description" content="{% building_meta 'description' object settings %}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:site_name" content="{{ settings.title }}" />
    {% if object.image %}
        <meta property="og:image" content="{{ scheme }}://{{ request.get_host }}{{ object.image.url }}" />
    {% endif %}
{% endblock %}

{% block meta_title %}
    <title>{% building_meta 'title' object settings %}</title>
{% endblock %}

{% block meta_description %}
    <meta name="description" content="{% building_meta 'description' object settings %}" />
{% endblock %}

{% block meta_keywords %}
    <meta name="keywords" content="{{ object.meta_keywords|default:settings.meta_keywords }}" />
{% endblock %}

{% block json-ld %}
    <script type = "application/ld+json" > [{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "{{ object.name }}",
    "url": "{{ request.build_absolute_uri }}",
    "description": "{% building_meta 'description' object settings %}"
}
{% if object.image %}
,
{
  "@context": "http://schema.org",
  "@type": "ImageObject",
  "contentUrl": "{{ scheme }}://{{ request.get_host }}{{ object.image.url }}",
  "name": "{{ object.name }}"
}
{% endif %}
]
</script>
{% endblock %}

{% block default_section %}
    <div class="game-preview-head">
        <div class="game-preview-head__visual">
            {% if object.image %}
                {% thumbnail object.image "55x55" crop="center" upscale=0 as im %}
                    <img data-src="{{ im.url }}" alt="{{ object.name }}" title="{{ object.name }}" class="lazy">
                {% endthumbnail %}
            {% endif %}
        </div>
        <div class="game-preview-head__content">
            <h1>{{ object.h1|default:object }}{% if request.user.is_staff %} <a href="{% url 'admin:catalog_category_change' object.id %}">[Edit]</a>{% endif %}</h1>
            {{ object.seo_top|safe }}
        </div>
    </div>
    {#        {% top_games_slider object %}#}
    {% if not request.GET.page and not request.GET.show_all %}
        {% popular_obj_game_tags object %}
    {% endif %}

    {% include 'catalog/inclusions/sort_block.html' %}

    <ul class="games-list">
        {% if not request.GET.show_all %}
            {% paginate total_items entry_list %}
        {% endif %}
        {% for entry in entry_list %}
            {% include 'catalog/inclusions/_include_game_list.html' with obj=entry %}
        {% endfor %}
    </ul>

    {% if not request.GET.show_all %}
        {% show_pages %}
    {% endif %}

    {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
        {% block_popular_games 32 %}
    {% endif %}

    {% if object.description and not request.GET.page and not request.GET.show_all %}
        <div class="tabset text-content-tabset">
            <ul class="tab-controls">
                <li class="active">
                    <a href="#">{% trans 'Information' %}</a>
                </li>
            </ul>
            <div class="tab-body">
                <div class="tab active text-content clear">
                    <div class="content">
                        {{ object.description|safe }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}