{% extends 'catalog/base.html' %}

{% load i18n el_pagination_tags %}

{% block meta_title %}
    <title>{{ title }}</title>
{% endblock %}

{% block default_section %}
    <div class="container">
        <h1>{{ h1 }}</h1>
        <ul class="games-list">
            {% if not request.GET.show_all %}
                {% paginate total_items objects %}
            {% endif %}
            {% for entry in objects %}
                {% include 'catalog/inclusions/_include_game_list.html' with obj=entry %}
            {% endfor %}
        </ul>
        {% if not request.GET.show_all %}
            {% show_pages %}
        {% endif %}
    </div>
{% endblock %}